services:
  app:
    build: .
    container_name: app-dev
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    command: sleep infinity
  db:
      image: postgres:18
      container_name: postgres
      env_file:
        - .env
      ports:
        - "5431:5432"
      volumes:
        - /var/lib/postgresql/18/main/
volumes:
  postgres_data:


