{%extends "base.html"%}
{% block link_css%}
<link rel="stylesheet"href="static\styles\auth.css">
{% endblock%}
{%block main%}
  {%if status==False%}
    <div class="auth_container">
      <form class="auth_form" method="POST" action="/login/">

        <h2>Login</h2>

        <div class="field">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>

        <div class="field">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <button type="submit">Login</button>
        {% if error%}
          <p class="auth_link"> <strong style="color: orange;">Warning:{{error}}</strong></p>
        {%endif%}
        <p class="auth_link">
          Don’t have an account? <a href="/register/">Signup</a>
        </p>
      </form>
    </div>
  {%else %}
    <div class="auth_container">
      <form class="auth_form" method="POST" action="/register/">
        <h2>Create An Account</h2>
        <div class="field">
          <label for="user_id">Username</label>
          <input type="text" id="user_id" name="user_id" required />
        </div>
        <div class="field">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="field">
          <label for="pass">Password</label>
          <input type="password" id="password" name="pass" required />
        </div>
        <div class="field">
          <label for="password">Confirm Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="field">
          <label for="contact">Contact</label>
          <input type="contact" id="contact" name="contact" required />
        </div>
        <button type="submit">Sign Up</button>
        {% if error%}
          <p class="auth_link"> <strong style="color: orange;">Warning:{{error}}</strong></p>
        {%endif%}
        <p class="auth_link">
          Already have an account? <a href="/login">Login</a>
        </p>
      </form>
    </div>
  {%endif%}
{%endblock%}