* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout */
.auth_container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px;
}

/* form */
.auth_form {
  width: 100%;
  max-width: 360px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;

  display: grid;
  gap: 14px;
}

/* heading */
.auth_form h2 {
  font-size: 22px;
  text-align: center;
}

/* label+input */
.field {
  display: grid;
  gap: 6px;
}

.field label {
  font-size: 14px;
}

.field input {
  padding: 10px 12px;
  border: 1px solid #bbb;
  border-radius: 8px;
  outline: none;
}

/* button */
.auth_form button {
  padding: 10px 12px;
  border: 1px solid #999;
  border-radius: 8px;
  cursor: pointer;
}

/* signup link */
.auth_link {
  text-align: center;
  font-size: 14px;
}